#header__menu-toggle {
  display: none;
}

#header__menu-toggle:checked ~ .header__menu-btn > span {
  transform: rotate(45deg);
}
#header__menu-toggle:checked ~ .header__menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#header__menu-toggle:checked ~ .header__menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#header__menu-toggle:checked ~ .header__wrap-link {
  display: flex;
  left: 0;
}
